<link rel="stylesheet" type="text/css" href="app/components/banner/banner.css">
<section >
  <div class="banner">
    <img style='height: 100%; width: 100%; object-fit: contain' src="assets/images/banner.jpg ">
  </div>



<!-- <div class="container mySlider hidden-sm ">
      <div class="hidden-sm ">
      <h1 class="hidden-sm ">Years of experience in Security Systems</h1>
      </div>
      <div>
      <h1>Professional Dedicated Staff</h1>
      </div>
    <div>
      <h1>World class customer service</h1>
     </div>
    
    </div> -->
	
</section>
