
<link rel="stylesheet" type="text/css" href="app/components/mainnav/mainNav.css">
<section class="mainMenu pull-right">
<nav class=" navbar-default pull-right">

	 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

   <div class="collapse navbar-collapse mainMenu" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav">
        <li class="myactive"><a ui-sref="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a ui-sref="automated-gates">Automated Gates</a></li>
        <li><a ui-sref="fire-suppression">Fire Suppression</a></li>
        <li><a ui-sref="cctv">CCTV</a></li>
        <li><a ui-sref="alarms">Alarms</a></li>
        <li><a ui-sref="access-control">Access Control</a></li>
        <li><a ui-sref="careers">Careers</a></li>
        <li><a ui-sref="contact">Contact Us</a></li>
        </ul>
   </div>
   

</nav>
<!-- <img src="assets/images/banner.svg">
 --></section>